* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #5b9ec2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
}

.login-box {
  display: flex;
  width: 100%;
  background-color: #a0c4db;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  min-height: 450px; 
}

.logo-area {
  background-color: #0e3c66;
  flex: 0.15;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logo {
  width: 250px;
  height: 250px;
  object-fit: contain;
  transform: scale(1.5);
  transition: transform 0.3s ease; 
}


.form-area {
  flex: 2.0; 
  padding: 60px 40px;
}

.form-area h2 {
  font-size: 40px;
  color: #2e5984;
  margin-bottom: 25px;
  font-weight: bold;
  text-align: left; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-top: 28px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.input-container input {
  width: 100%;
  padding: 12px 12px 12px 45px;
  border: 2px solid transparent;
  border-radius: 25px;
  background-color: #3a75a7;
  color: white;
  outline: none;
  transition: all 0.4s ease;
  font-size: 15px;
  box-shadow: inset 0 0 0 transparent;
}

.input-container input::placeholder {
  color: #cce0f2;
  opacity: 0.8;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #cce0f2;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.4s ease;
}

.input-container input:focus {
  background-color: #4b89c4;
  border: 2px solid #5c6596;
  box-shadow: 0 0 10px #5587b6aa;
}

.input-container input:focus + .icon {
  color: #fdf6a3;
  transform: translateY(-50%) scale(1.3);
  filter: brightness(1.0);
}

button {
  margin-top: 20px;
  background-color: #fdf6a3;
  color: #2e5984;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: fit-content;
}

button:hover {
  background-color: #fbe97d;
  transform: scale(1.05);
}
